<div class="uk-padding">
  <div class="uk-card uk-card-default uk-card-hover uk-card-body">
    <h3 class="uk-card-title">Register </h3>
    <fieldset class="uk-fieldset">
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Email" [(ngModel)]="mail">
        </div>
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Password" [(ngModel)]="password" >
        </div>
      <div class="uk-margin">
        <button class="uk-button uk-button-primary">Ajouter</button>
      </div>
    </fieldset>
  </div>
</div>