<div class="uk-padding">
<table class="uk-table uk-table-middle uk-table-divider">
    <thead>
        <tr>
            <th class="uk-width-small">Prénom</th>
            <th class="uk-width-small">Compétance</th>
            <th class="uk-width-small">Télephone</th>
            <th class="uk-width-small">Adresse</th>
            <th class="uk-width-small">Salaire</th>
            <th class="uk-width-small">Remarque</th>
            <th class="uk-width-small">Action</th>
            <th class="uk-width-small">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let skill of skills | async">
            <td>{{ skill.name }}</td>
            <td>{{ skill.skill }}</td>
            <td>{{ skill.phone }}</td>
            <td>{{ skill.adress }}</td>
            <td>{{ skill.salaire }}</td>
            <td>{{ skill.remarque }}</td>
            <td><button class="uk-button uk-button-primary" type="button" (click)="onEdit(skill)">Modifier</button></td>
            <td><button class="uk-button uk-button-danger" type="button" (click)="onDelete(skill.$key)">Supprimer</button></td>
        </tr>
    </tbody>
</table>
</div>

